*.class

# Package Files #
#*.jar
#*.war
#*.ear
client/war/WEB-INF/lib/gwt-servlet.jar
.gradle
.classpath
.project
build
bin
client.gwt.xml
.metadata
.settings
*.swp
capabilitysetter/src/main/java/edu/harvard/integer/capabilitySetter/Test.java
capabilitysetter/src/main/webapp/WEB-INF/view/formPage.jsp
capabilitysetter/src/main/webapp/WEB-INF/view/home.jsp
serviceprovider/mibs/ietf/tmp
client/gwt-unitCache
client/war/WEB-INF/deploy/client/symbolMaps
client/war/WEB-INF/deploy/client/rpcPolicyManifest
client/war/client
client/.gwt
server/installMibs
