<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.harvard.integer.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/client/greet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>integerServlet</servlet-name>
    <servlet-class>edu.harvard.integer.server.IntegerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>integerServlet</servlet-name>
    <url-pattern>/client/integer</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>client.html</welcome-file>
    <!--
    <welcome-file>javascripts/flexnav-master/single-page-pattern.html</welcome-file>
    -->
  </welcome-file-list>

</web-app>
