/** Add css rules here for your application. */
#topBanner {
	width: 90%;
	height: 50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#topBanner img {
	float: left;
	clear: left;
}

span {
	font-size: 1.6em;
	font-family: fantasy, cursive;
	font-weight: bold;
	color: #293352;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 30px;
	float: left;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.gwt-Button {
  background-color: #4e84c4;
  display: block;
  font-size: 16pt;
  width: 80px;
}

/** Most GWT widgets already have a style name defined
.gwt-DialogBox {
  width: 500px;
}
*/

.dialogVPanel {
  margin: 15px;
  padding: 2px, 20px;
}

.dialogVPanel.padding {
  padding: 2px, 20px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}



.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.flexTable {
	border-collapse: collapse;
  	background-color:  #efefef;
  	margin: 0px;
  	padding: 0px;
  	border:0px;
}

.flexTableHeader {
	background-color:  #293352;
	color: 		#ffffff;
  	text-align:  center;
  	height: 18px;
}

.FlexTable-OddRow {
  background-color: #f3f3f1;
}

.FlexTable-EvenRow {
  background-color: white;
}


.FlexTable-ColumnLabel {
  color: white;
  padding: 5px;
}

.FlexTable-ColumnLabelCell {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.FlexTable-Cell {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;
  padding: 5px;
}
